:global(.dz-container) {

  &.customContainer {
    background: lightgray;
    border: 4px solid black;
    height: 200px;

    &:global(.dz-disabled) {
      border: none;

      &:hover {
        cursor: crosshair;
      }

    }

    &:hover:not(:global(.dz-disabled)) {
      border: 4px dashed black;
    }

  }

}

:global(.dz-drag-files) {

  &.customDragFiles {
    color: red;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid red;
  }

}
